ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #000000;
}

.active {
  background-color: #af222a;
}

body {
  background-image: url('../img/background.jpg');

  background-size: cover;

}
#homeHeading {

  text-decoration: underline;
  color: rgb(255, 251, 249);
  font-size: 30px;

}


.left{
  position: absolute;
  border: #333333;
  background-color: rgba(52, 7, 5, 0.55);
  margin-right: 17%;
  margin-left: 3%;
  width: 30%;
  height: 80%;
  color: rgb(255, 251, 249);
  font-size: 18px;

}

.right{
  position: absolute;
  border: medium;
  background-color: rgba(52, 7, 5, 0.26);
  margin-left: 33%;
  width: 63%;
  height: 79%;

  object-fit: fill
}


footer {
  background-color: #000000;
  width: 100%;
  bottom: 0;
  position: fixed;
}
