ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    text-align: center;
    color:white;
    font-size: 32px;
}

body {
    background-image: url('../img/header.jpg');
    background-color: #cccccc;
    background-size: cover;

    color: rgba(175, 69, 19, 0.71);
    font-size: xx-large;

}
.divcenter{
    position: absolute;
    border: #333333;
    background-color: rgba(52, 7, 5, 0.55);
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 3%;
    width: 87%;
    height: 80%;

}
.container {
    margin-left: 30%;
    padding: 40px;
    position: relative;
    margin-top: 9%;
    width: 72%;
    font-size: large;
}



input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
}

button {
    background-color: rgba(0, 0, 0, 0.69);
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 40%;
    margin-left: 8%;
}

footer {
    background-color: #000000;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.cancelbtn {
    width: 40%;
    background-color: #f44336;
    padding: 14px 20px;
}

.modal {
    position: fixed;
    margin-left: 27%;
    margin-top: 8%;
}

.modalCnt {
    background-color: rgb(255, 254, 250);
    width: 70%;
    padding: 34px 40px;
    font-size: large;
    text-align: center;
}



